<section class="">
  <section class="grid grid-cols-1 lg:grid-cols-3 gap-5">

    <div class="shadow-md shadow-neutral-200 lg:col-span-2 bg-blue-500 text-white rounded-lg p-5 text-2xl font-light">
      <h1 class="font-medium mb-2">Hi {{detailsService.details.name.split(" ")[0]}} !</h1>
      <p>We have completed 5 lessons in last day.</p>
      <p>Start your learning today.</p>
    </div>

    <div class="shadow-md shadow-neutral-200 p-5 rounded-lg  lg:row-span-3 bg-white">

    </div>

    <div class="shadow-md shadow-neutral-200 p-5 rounded-lg bg-white flex justify-center items-center">

    </div>

    <div class="shadow-md shadow-neutral-200 p-5 rounded-lg bg-white">Mostafa 4</div>

    <div class="shadow-md shadow-neutral-200 p-5 rounded-lg bg-white lg:col-span-2">
      <h2 class="mb-5 text-lg font-medium">My Courses</h2>
      <ul class="flex flex-col gap-4">
        <li *ngFor="let course of coursesService.courses.slice(3,6)" class="p-2 border-2 border-neutral-200 rounded-lg flex items-center justify-between gap-2 md:gap-4 lg:gap-6">
          <div class="flex gap-2 flex-1">
            <img [src]="course.icon" alt="" class="w-10 h-10" >
            <p class="text-sm font-medium flex flex-col">
              <span>{{course.title}}</span>
              <span class="text-neutral-500 font-normal">By {{course.admin}}</span>
            </p>
          </div>
          <p>{{course.percentage}}%</p>
          <span class="block w-20 h-2 bg-neutral-200 rounded-lg">
            <span style.width="{{course.percentage}}%" class="block h-2 bg-violet-500 rounded-lg"></span>
          </span>
          <span class=""><span class=""></span></span>
          <div class="text-sm flex items-center gap-1"><i class="fa-solid fa-star text-yellow-500"></i> 4.3</div>
          <button [routerLink]="'course/' + course.courseId" class="py-1 px-3 border-2 rounded-lg border-blue-500 text-blue-500">Course Details</button>
        </li>
      </ul>
    </div>

  </section>
</section>
