<section class="">
  <app-navbar [title]="'My Course'"></app-navbar>

  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
    <li *ngFor="let course of coursesService.courses" class="bg-white p-5  rounded-lg flex flex-col gap-3 cursor-pointer" [routerLink]="'/course/'+ course.courseId" >

      <img [src]="course.icon" alt="" class="w-12 h-12 bg-emerald-500 bg-opacity-10 rounded-full p-2">

      <h2 class="font-medium">{{course.title}}</h2>

      <div class="flex items-center gap-2 text-neutral-500 font-medium">
        <img [src]="course.adminImage" alt="." class="w-8 h-8 rounded-full">
        {{course.admin}}
      </div>

      <div class="text-neutral-500">
        <i class="fa-solid fa-book-open text-violet-500"></i>
        {{course.NumberOfLessons}} Lessons
        <i class="fa-solid fa-clock ms-4 text-violet-500"></i>
        {{course.NumberOfHours}} Hours
      </div>

      <div *ngIf="course.percentage == 100" class="flex items-center gap-2 mt-2">
        <i class="fa-solid fa-circle-check text-emerald-500"></i>
        completed
      </div>

      <div *ngIf="course.percentage != 100" class="flex items-center gap-2 mt-2">
        <p class="flex-1 bg-emerald-500 bg-opacity-10 h-1 rounded-lg ">
          <span class="block bg-emerald-500 h-full rounded-lg" [ngStyle]="{ width: course.percentage + '%' }" ></span>
        </p>
        <p>{{course.percentage}}%</p>
      </div>

    </li>
  </ul>
</section>
