<section class="max-w-7xl mx-auto px-4 py-10">

  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 ">

    <li *ngFor="let instructor of instructorsService.instructors" class="border-2 rounded-lg overflow-hidden border-blue-200 shadow shadow-blue-200 flex flex-col">
      <div class="relative">
        <span class="block w-full h-12  bg-blue-500 bg-opacity-75"></span>
        <span class="block w-full h-12  bg-blue-500 bg-opacity-25"></span>
        <img [src]="instructor.image" class="w-20 h-20 rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 shadow-md shadow-blue-500 border-2 border-blue-500" alt="">
      </div>
      <ul class="p-4 font-medium flex flex-col gap-2 flex-1">
        <li class="text-xl">{{instructor.name}}</li>
        <li class="text-neutral-500">{{instructor.bio}}</li>
        <li class="flex items-center gap-3 mt-auto">
          <button class="bg-blue-500 rounded-lg py-2 text-lg shadow shadow-blue-200 duration-300 hover:shadow-lg hover:shadow-blue-200 flex-1 text-white">Show courses</button>
          <button class="bg-blue-500 rounded-lg py-2 text-lg shadow shadow-blue-200 duration-300 hover:shadow-lg hover:shadow-blue-200 flex-1 text-white">Contact</button>
        </li>
      </ul>
    </li>

  </ul>

</section>
