<section class="w-screen h-[100vh] flex flex-col md:flex-row">

  <div class="py-5 bg-blue-500 md:h-full text-white px-3 lg:w-96 text-lg md:text-xl flex flex-col gap-2 md:gap-5 justify-center items-center">
    <h1 class="font-medium text-4xl">Have an account ?</h1>
    <p>Log in and discover a great<br/>amount of new opportunities</p>
    <button class="py-2 px-10 rounded-full bg-white text-black font-medium duration-300 hover:shadow-md hover:shadow-white">Log In</button>
  </div>

  <div class="flex-1 md:h-full flex flex-col gap-2 md:gap-4 justify-center items-center relative">
    <h1 class="text-4xl md:text-5xl font-medium ">Create a new account</h1>
    <a class="flex items-center gap-2 cursor-pointer text-xl">
      Signup using google
      <i class="fa-brands fa-google-plus text-red-500 text-4xl"></i>
    </a>
    <p class="relative w-96 text-center">
      <span class="font-medium text-xl relative z-20">OR</span>
      <span class="absolute left-0 top-1/2 -translate-y-1/2 w-full h-0.5 bg-blue-500 bg-opacity-10"></span>
    </p>
    <form action="" class="flex flex-col gap-1" [formGroup]="signUpForm" (ngSubmit)="handleSubmit()">
      <div class="relative pb-5">
        <input formControlName="firstName" type="text" placeholder="First Name" class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl">
        <p *ngIf="submitted && signUpForm.controls['firstName'].hasError('required')" class="text-red-500 text-sm absolute bottom-0 left-0">firstName required</p>
        <p *ngIf="submitted && signUpForm.controls['firstName'].hasError('minlength')" class="text-red-500 text-sm absolute bottom-0 left-0">minLength is 3</p>
        <p *ngIf="submitted && signUpForm.controls['firstName'].hasError('maxlength')" class="text-red-500 text-sm absolute bottom-0 left-0">maxLength is 15</p>
      </div>
      <div class="relative pb-5">
        <input formControlName="lastName" type="text" placeholder="Last Name" class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl">
        <p *ngIf="submitted && signUpForm.controls['lastName'].hasError('required')" class="text-red-500 text-sm absolute bottom-0 left-0">lastName required</p>
        <p *ngIf="submitted && signUpForm.controls['lastName'].hasError('minlength')" class="text-red-500 text-sm absolute bottom-0 left-0">minLength is 3</p>
        <p *ngIf="submitted && signUpForm.controls['lastName'].hasError('maxlength')" class="text-red-500 text-sm absolute bottom-0 left-0">maxLength is 15</p>
      </div>
      <div class="relative pb-5">
        <input formControlName="email" type="email" placeholder="Email" class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl">
        <p *ngIf="submitted && signUpForm.controls['email'].hasError('required')" class="text-red-500 text-sm absolute bottom-0 left-0">email required</p>
        <p *ngIf="submitted && signUpForm.controls['email'].hasError('email')" class="text-red-500 text-sm absolute bottom-0 left-0">wrong email</p>
      </div>
      <div class="relative pb-5">
        <input formControlName="password" type="password" placeholder="Password" class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl">
        <p *ngIf="submitted && signUpForm.controls['password'].hasError('required')" class="text-red-500 text-sm absolute bottom-0 left-0">password required</p>
        <p *ngIf="submitted && signUpForm.controls['password'].hasError('minlength')" class="text-red-500 text-sm absolute bottom-0 left-0">minLength is 8</p>
        <p *ngIf="submitted && signUpForm.controls['password'].hasError('maxlength')" class="text-red-500 text-sm absolute bottom-0 left-0">maxLength is 15</p>
      </div>
      <div class="relative pb-5">
        <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl">
        <p *ngIf="submitted && signUpForm.hasError('passwordMismatch')" class="text-red-500 text-sm absolute bottom-0 left-0">not match</p>
      </div>
      <button type="submit" class="bg-blue-500 py-3 w-60 mx-auto rounded-full text-white text-xl font-medium mt-3 duration-300 hover:shadow-md hover:shadow-blue-500">Sign Up</button>
    </form>
  </div>

</section>
