.homeImg
{
    background-image: 
    url('https://source.unsplash.com/1600x900/?education'),
    url('../../assets/images/Hello_Photo.svg'), 
    url('../../assets/images/Space_Photo.svg');
    background-position: center, right 50px bottom 50px, left 50px top; 
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, 350px, 250px;
    min-height: 600px; 
    padding-bottom: 310px;
}