<section class="h-screen flex flex-col md:flex-row items-center">

  <div
    class="h-screen w-full mb-8 lg:mb-0 py-5 bg-blue-500 md:h-full text-white px-3 lg:w-96 text-lg md:text-xl flex flex-col gap-2 md:gap-5 justify-center items-center">
    <h1 class="font-medium text-4xl">Have an account ?</h1>
    <p>Log in and discover a great<br />amount of new opportunities</p>
    <a
     routerLink="/login"
      class="py-2 px-10 rounded-full bg-white text-black font-medium duration-300 hover:shadow-md hover:shadow-white">Log
      In</a>
  </div>

  <div class="h-full flex-1 md:h-full flex flex-col gap-2 md:gap-4 justify-center items-center relative py-4">
    <h1 class="text-4xl md:text-5xl font-medium ">Create a new account</h1>
    <a class="flex items-center gap-2 cursor-pointer text-xl">
      Signup using google
      <i class="fa-brands fa-google-plus text-red-500 text-4xl"></i>
    </a>
    <p class="relative w-96 text-center">
      <span class="font-medium text-xl relative z-20">OR</span>
      <span class="absolute left-0 top-1/2 -translate-y-1/2 w-full h-0.5 bg-blue-500 bg-opacity-10"></span>
    </p>
    <form action="" class="flex flex-col gap-1" [formGroup]="signUpForm" (ngSubmit)="handleSubmit()">
      <div class="relative pb-5">
        <input formControlName="fullName" type="text" placeholder="Full Name"
          class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl"
          [ngClass]="{'border-2 border-red-500 outline-red-500': signUpForm.get('fullName')?.touched && signUpForm.get('fullName')?.invalid}">
        @if (signUpForm.get("fullName")?.touched && signUpForm.get("fullName")?.getError("required")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            full Name is required</span></p>
        }
        @else if (signUpForm.get("fullName")?.touched && signUpForm.get("fullName")?.getError("minlength")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            full Name should be at least 3 characters</span></p>
        }
        @else if (signUpForm.get("fullName")?.touched && signUpForm.get("fullName")?.getError("maxlength")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            fullName should be at most 25 characters</span></p>
        }

      </div>
      <div class="relative pb-5">
        <input formControlName="userName" type="text" placeholder="User Name"
          class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl"
          [ngClass]="{'border-2 border-red-500 outline-red-500': signUpForm.get('userName')?.touched && signUpForm.get('userName')?.invalid}">
        @if (signUpForm.get("userName")?.touched && signUpForm.get("userName")?.getError("required")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            User Name is required</span></p>
        }
        @else if (signUpForm.get("userName")?.touched && signUpForm.get("userName")?.getError("minlength")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            User Name should be at least 3 characters</span></p>
        }
        @else if (signUpForm.get("userName")?.touched && signUpForm.get("userName")?.getError("maxlength")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            User Name should be at most 15 characters</span></p>
        }
      </div>
      <div class="relative pb-5">
        <input formControlName="email" type="email" placeholder="Email"
          class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl"
          [ngClass]="{'border-2 border-red-500 outline-red-500': signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid}">
        @if (signUpForm.get("email")?.touched && signUpForm.get("email")?.getError("required")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            Email is required</span></p>
        }
        @else if (signUpForm.get("email")?.touched && signUpForm.get("email")?.getError("email")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            Email is not valid</span></p>
        }
      </div>
      <div class="relative pb-5">
        <input formControlName="password" type="password" placeholder="Password"
          class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl"
          [ngClass]="{'border-2 border-red-500 outline-red-500': signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid}">
        @if (signUpForm.get("password")?.touched && signUpForm.get("password")?.getError("required")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            password is required</span></p>
        }
        @else if (signUpForm.get("password")?.touched && signUpForm.get("password")?.getError("minlength")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            password should be at least 8 characters</span></p>
        }
        @else if (signUpForm.get("password")?.touched && signUpForm.get("password")?.getError("pattern")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            password is not strong enough</span></p>
        }
      </div>
      <div class="relative pb-5">
        <input formControlName="confirmPassword" type="password" placeholder="Confirm Password"
          class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl">
        @if (signUpForm.get("confirmPassword")?.touched && signUpForm.get("confirmPassword")?.getError("required")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            confirm password is required</span></p>
        }
        @else if (signUpForm.get("confirmPassword")?.touched && signUpForm.hasError("passwordMismatch")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            Passwords do not match</span></p>
        }
      </div>
      <div class="text-center">
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            {{errorMessage}}
          </span></p>
      </div>
      <button type="submit" [disabled]="!signUpForm.valid" [class.pointer-events-none]="!signUpForm.valid"
        [class.bg-opacity-50]="!signUpForm.valid"
        class="bg-blue-500 py-3 w-60 mx-auto rounded-full text-white text-xl font-medium mt-3 duration-300 hover:shadow-md hover:shadow-blue-500">Sign
        Up</button>
    </form>
  </div>

</section>
