<section class="h-[100vh] flex flex-col-reverse md:flex-row">
  <div class="flex-1 md:h-full flex flex-col gap-3 md:gap-5 justify-center items-center relative">
    <h1 class="text-4xl md:text-5xl font-medium ">Login to your account</h1>
    <a class="flex items-center gap-2 cursor-pointer text-xl">
      Login using google
      <i class="fa-brands fa-google-plus text-red-500 text-4xl"></i>
    </a>
    <p class="relative w-96 text-center">
      <span class="font-medium text-xl relative z-20">OR</span>
      <span class="absolute left-0 top-1/2 -translate-y-1/2 w-full h-0.5 bg-blue-500 bg-opacity-10"></span>
    </p>
    <form action="" class="flex flex-col gap-1" [formGroup]="logInForm" (ngSubmit)="handleSubmit()">
      <div class="relative pb-5">
        <input formControlName="email" type="email" placeholder="Email"
          class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl"
          [ngClass]="{'border-2 border-red-500 outline-red-500': logInForm.get('email')?.touched && logInForm.get('email')?.invalid}">
        @if (logInForm.get("email")?.touched && logInForm.get("email")?.getError("required")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            Email is required</span></p>
        }
        @else if (logInForm.get("email")?.touched && logInForm.get("email")?.getError("email")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            Email is not valid</span></p>
        }
      </div>
      <div class="relative pb-5">
        <input formControlName="password" type="password" placeholder="Password"
          class="w-96 p-3 rounded-lg bg-blue-500 bg-opacity-10 outline-blue-500 text-xl"
          [ngClass]="{'border-2 border-red-500 outline-red-500': logInForm.get('password')?.touched && logInForm.get('password')?.invalid}">
        @if (logInForm.get("password")?.touched && logInForm.get("password")?.getError("required")) {
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600 dark:text-red-400"><span class="font-medium">
            password is required</span></p>
        }
      </div>
      <button type="submit" [disabled]="!logInForm.valid" [class.pointer-events-none]="!logInForm.valid"
        [class.bg-opacity-50]="!logInForm.valid"
        class="bg-blue-500 py-3 w-60 mx-auto rounded-full text-white text-xl font-medium mt-3 duration-300 hover:shadow-md hover:shadow-blue-500">Log
        In</button>
    </form>
  </div>

  <div
    class="py-5 bg-blue-500 md:h-full text-white px-3 lg:w-96 text-xl flex flex-col gap-5 justify-center items-center">
    <h1 class="font-medium text-5xl">New Here ?</h1>
    <p>Sign up and discover a great<br />amount of new opportunities</p>
    <a
      routerLink="/register"
      class="py-2 px-10 rounded-full bg-white text-black font-medium duration-300 hover:shadow-md hover:shadow-white">Sign
      Up</a>
  </div>

</section>