<section class="relative bg-blue-600 bg-center homeImg">
    <div class="bg-black bg-opacity-50 absolute inset-0"></div>
    <div class="container mx-auto px-6 py-32 relative z-10 text-center transform translate-y-1/4">
        <h1 class="text-4xl md:text-6xl font-bold text-white mb-6">Xcelerate Stay one step ahead!</h1>
        <p class="text-xl md:text-2xl text-gray-200 mb-6">A comprehensive platform for online educational courses</p>
        <a href="coming-soon.html"
            class="bg-blue-600 text-white py-3 px-6 rounded-full hover:bg-blue-500 transition duration-300">Explore
            Courses </a>
    </div>
</section> 
<section class="container mx-auto px-6 py-16">
    <h2 class="text-3xl font-bold text-center mb-4">All the skills you need in one place</h2>
    <p class="text-1xl text-gray-600 text-center mb-8">From essential skills to advanced technical topics, Xcelerate
        empowers your professional learning journey</p>

    <div class="flex flex-wrap justify-center gap-4">
        <a href="coming-soon.html"
            class="bg-blue-600 text-white py-2 px-4 rounded-lg shadow-md text-center hover:bg-blue-500 transition duration-300">Data Science</a>
        <a href="coming-soon.html"
            class="bg-blue-600 text-white py-2 px-4 rounded-lg shadow-md text-center hover:bg-blue-500 transition duration-300">IT Certifications</a>
        <a href="coming-soon.html"
            class="bg-blue-600 text-white py-2 px-4 rounded-lg shadow-md text-center hover:bg-blue-500 transition duration-300">Leadership</a>
        <a href="coming-soon.html"
            class="bg-blue-600 text-white py-2 px-4 rounded-lg shadow-md text-center hover:bg-blue-500 transition duration-300">Web Development</a>
        <a href="coming-soon.html"
            class="bg-blue-600 text-white py-2 px-4 rounded-lg shadow-md text-center hover:bg-blue-500 transition duration-300">Communication</a>
        <a href="coming-soon.html"
            class="bg-blue-600 text-white py-2 px-4 rounded-lg shadow-md text-center hover:bg-blue-500 transition duration-300">Business Analytics & Intelligence</a>
    </div>
</section>


<section class="container mx-auto px-6 py-16">
    <h2 class="text-3xl font-bold text-center mb-8">Featured Courses</h2>
    <div class="grid gap-8 md:grid-cols-3">

        <div class="bg-blue-200 rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition duration-300">
            <img src="./images/programming-background-collage.jpg" alt="" class="w-full h-48 object-cover">
            <div class="p-6">
                <h3 class="font-bold text-xl mb-2">Web Design Course</h3>
                <p class="text-gray-600 mb-4">Learn the basics of website design and development using the latest
                    technologies</p>
                <a href="coming-soon.html" class="text-blue-600 hover:underline">More details</a>
            </div>
        </div>

        <div class="bg-blue-200 rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition duration-300">
            <img src="./images/programming-screen.jpg" alt="" class="w-full h-48 object-cover">
            <div class="p-6">
                <h3 class="font-bold text-xl mb-2">Programming course</h3>
                <p class="text-gray-600 mb-4">Master different programming languages ​​and apply them in real projects
                </p>
                <a href="coming-soon.html" class="text-blue-600 hover:underline">More details</a>
            </div>
        </div>

        <div class="bg-blue-200 rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition duration-300">
            <img src="./images/logo.jpg" alt="" class="w-full h-48 object-cover">
            <div class="p-6">
                <h3 class="font-bold text-xl mb-2">Graphic Design Course</h3>
                <p class="text-gray-600 mb-4">Learn the basic principles of design and master professional design tools
                </p>
                <a href="coming-soon.html" class="text-blue-600 hover:underline">More details</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-blue-600 py-16">
    <div class="container mx-auto px-6 text-center">
        <h2 class="text-3xl font-bold text-white mb-4">Start your educational journey now</h2>
        <p class="text-blue-200 mb-8">Join thousands of learners and develop your skills in multiple fields</p>
        <a href="coming-soon.html"
            class="bg-white text-blue-600 py-3 px-6 rounded-full font-bold hover:bg-gray-200 transition duration-300">Register
        </a>
    </div>
</section>

<footer class="bg-gray-800 text-gray-200 py-6">
    <div class="container mx-auto px-6 text-center">
        <p>&copy; Xcelerate 2025 All rights reserved
    </div>
</footer>
