@if (courseDetails) {
<section class="max-w-7xl mx-auto px-4 py-10 grid grid-cols-1 lg:grid-cols-3 gap-5">

  <section class="lg:col-span-2 bg-white rounded-lg p-5">

    @if ( videoUrl ){
    <video controls [src]="videoUrl" type="video/mp4" [poster]="courseDetails.image"
      class="rounded-lg aspect-video w-full shadow-lg mb-3"></video>
    }@else{
    <img [src]="courseDetails.image" alt="" class="rounded-lg aspect-video w-full shadow-lg shadow-blue-200 mb-3">
    }

    <h1 *ngIf="videoTitle" class="text-lg md:text-xl font-medium">{{videoTitle}}</h1>
    <p class="flex items-center gap-2 text-neutral-500 font-medium text-lg mb-4 mt-2">
      @if ( courseDetails.instructor.image) {
      <img [src]="courseDetails.instructor.image" class="w-10 h-10 shadow-md rounded-full" alt="">
      }
      @else {
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="w-10 h-10 shadow-md rounded-full" alt="">
      }
      <span>{{courseDetails.instructor.name}} </span>
    </p>

    <ul class="flex gap-2 items-center border-b-2 border-neutral-50 mb-5">
      <li (click)="handleActiveLink('Overview')"
        class="p-2 border-b-2 rounded-sm cursor-pointer {{activeCourseLink=='Overview'?'border-b-blue-500 text-blue-500':'text-neutral-500 border-b-transparent'}}">
        Overview</li>
      <li (click)="handleActiveLink('FAQ')"
        class="p-2 border-b-2 rounded-sm cursor-pointer {{activeCourseLink=='FAQ'?'border-b-blue-500 text-blue-500':'text-neutral-500 border-b-transparent'}}">
        FAQ</li>
      <li (click)="handleActiveLink('Discussion')"
        class="p-2 border-b-2 rounded-sm cursor-pointer {{activeCourseLink=='Discussion'?'border-b-blue-500 text-blue-500':'text-neutral-500 border-b-transparent'}}">
        Discussion</li>
      <li (click)="handleActiveLink('Reviews')"
        class="p-2 border-b-2 rounded-sm cursor-pointer {{activeCourseLink=='Reviews'?'border-b-blue-500 text-blue-500':'text-neutral-500 border-b-transparent'}}">
        Reviews</li>
    </ul>

    <div *ngIf="activeCourseLink=='Overview'">
      <h2 class="text-lg font-medium mb-0 ">Course Description</h2>
      <p class="text-neutral-500 font-normal text-sm">{{courseDetails.description}}</p>
      <h2 class="text-lg font-medium mb-0 mt-3">Course Outcomes</h2>
      <ul class="grid grid-cols-1 lg:grid-cols-2 gap-3 text-sm font-normal text-neutral-500">
        <li class="flex items-center gap-2"> <span class="block w-2 h-2 rounded-full bg-blue-500"></span> 15 lectures
          and 5.5 hours of content!</li>
        <li class="flex items-center gap-2"> <span class="block w-2 h-2 rounded-full bg-blue-500"></span> Live project
          end to end software.</li>
        <li class="flex items-center gap-2"> <span class="block w-2 h-2 rounded-full bg-blue-500"></span> All about
          Figma.</li>
        <li class="flex items-center gap-2"> <span class="block w-2 h-2 rounded-full bg-blue-500"></span> Basics
          designing in Figma.</li>
        <li class="flex items-center gap-2"> <span class="block w-2 h-2 rounded-full bg-blue-500"></span> Wire Frame,
          UX-UI design.</li>
        <li class="flex items-center gap-2"> <span class="block w-2 h-2 rounded-full bg-blue-500"></span> Design mobile
          and desktop apps.</li>
      </ul>
      <h2 class="text-lg font-medium mb-0 mt-3">Audience</h2>
      <p class="text-neutral-500 font-normal text-sm">Credibly recaptiualize parallel sources and visionary mindshare.
        Conveniently fabricate out-of-the-box functionalities vis-a-vis excellent
        core competencies. Compellingly re-engineer user friendly scenarios vis-a-vis magnetic infrastructures..
        Intrinsicly enhance world-class paradigms for standardized</p>
    </div>

    <div *ngIf="activeCourseLink=='FAQ'" class="flex flex-col gap-5">
      <h2 class="flex items-center justify-between text-lg">
        Marketing Introduction
        <span
          class="flex items-center justify-center w-8 h-8 text-xl cursor-pointer rounded-full bg-blue-500 bg-opacity-10 text-blue-500"><i
            class="fa-solid fa-minus"></i></span>
      </h2>
      <p class="text-neutral-500 text-sm font-normal flex items-center justify-between">
        Progressively synthesize clicks-and-mortar infrastructures for impactful quality vectors. Seamlessly innovate
        corporate best practices via standardized models. Intrinsicly grow sustainable relationships with world-class
        relationships.
        <span class="flex w-8 h-8"></span>
      </p>
      <h2 class="flex items-center justify-between text-lg">
        Marketing tools
        <span
          class="flex items-center justify-center w-8 h-8 text-xl cursor-pointer rounded-full bg-blue-500 bg-opacity-10 text-blue-500"><i
            class="fa-solid fa-plus"></i></span>
      </h2>
      <h2 class="flex items-center justify-between text-lg">
        Digital Marketing
        <span
          class="flex items-center justify-center w-8 h-8 text-xl cursor-pointer rounded-full bg-blue-500 bg-opacity-10 text-blue-500"><i
            class="fa-solid fa-plus"></i></span>
      </h2>
      <h2 class="flex items-center justify-between text-lg">
        How to marketing for my website?
        <span
          class="flex items-center justify-center w-8 h-8 text-xl cursor-pointer rounded-full bg-blue-500 bg-opacity-10 text-blue-500"><i
            class="fa-solid fa-plus"></i></span>
      </h2>
      <h2 class="flex items-center justify-between text-lg">
        Marketing Rools
        <span
          class="flex items-center justify-center w-8 h-8 text-xl cursor-pointer rounded-full bg-blue-500 bg-opacity-10 text-blue-500"><i
            class="fa-solid fa-plus"></i></span>
      </h2>
    </div>

    <div *ngIf="activeCourseLink=='Discussion'">
      <div class="flex items-center gap-2 mb-2">
        <img [src]="courseDetails.instructor.image" alt="" class="w-10 h-10 rounded-full shadow-lg">
        <p class="font-medium">{{courseDetails.instructor.name}}</p>
      </div>
      <p class="text-sm font-normal text-neutral-500 mb-5">{{courseDetails.instructor.bio}}</p>
      <div class="flex items-center gap-2 mb-2">
        <img [src]="courseDetails.instructor.image" alt="" class="w-10 h-10 rounded-full shadow-lg">
        <p class="font-medium">{{courseDetails.instructor.name}}</p>
      </div>
      <p class="text-sm font-normal text-neutral-500">{{courseDetails.instructor.bio}}</p>
    </div>


    <div *ngIf="activeCourseLink=='Reviews'">
      <section class="">
        <!-- <div>
          <h2 class="font-medium text-lg mb-2">Average Rating</h2>
          <p class="flex flex-col gap-2 items-center justify-center bg-blue-500 bg-opacity-10 p-5 rounded-lg text-lg">
            <span class="font-medium text-xl text-blue-500">4.3</span>
            <span class="flex items-center gap-1 text-sm">
              <i class="fa-solid fa-star text-blue-500"></i>
              <i class="fa-solid fa-star text-blue-500"></i>
              <i class="fa-solid fa-star text-blue-500"></i>
              <i class="fa-solid fa-star text-blue-500"></i>
              <i class="fa-solid fa-star text-blue-500 text-opacity-50"></i>
            </span>
            <span>Rating</span>
          </p>
        </div>
        <div class="lg:col-span-2">
          <h2 class="font-medium text-lg">Details Rating</h2>
          <ul class="flex flex-col gap-1">
            <li *ngFor="let i of [57,26,12,3,80]" class="flex gap-5 items-center">
              <span>{{i<10?"0"+i:i}} </span>
                  <span class="flex items-center gap-1 text-sm">
                    <i class="fa-solid fa-star text-yellow-500"></i>
                    <i class="fa-solid fa-star text-yellow-500"></i>
                    <i class="fa-solid fa-star text-yellow-500"></i>
                    <i class="fa-solid fa-star text-yellow-500"></i>
                    <i class="fa-solid fa-star text-neutral-200"></i>
                  </span>
                  <span class="block flex-1 h-2 bg-neutral-200 rounded-lg"><span style.width="{{i}}%"
                      class="block h-2 bg-violet-500 rounded-lg"></span></span>
            </li>
          </ul>
        </div> -->
        <!-- <div class="flex items-center gap-2 mb-2 ">
          <img src="https://th.bing.com/th/id/OIP.Kk4i-k-7bOfsgPv0SJtj5AHaHa?rs=1&pid=ImgDetMain" alt=""
            class="w-12 h-12 rounded-full shadow-lg">
          <p class="flex flex-col">
            <span class="font-medium mb-1">John Doe</span>
            <span class="flex items-center gap-1 text-sm">
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-yellow-500"></i>
              <i class="fa-solid fa-star text-neutral-200"></i>
            </span>
          </p>
        </div>
        <p>I don't have much time and the opprotunity to go outside learnig this class. This online Figma course is
          the best solution for me.</p> -->
        <!-- <div class="flex flex-col gap-3">
          <textarea
            [(ngModel)]="reviewMessage"
            [ngClass]="errorReviewMessage ? 'border-red-500' : 'border-neutral-200'"
            class="h-32 w-full border-2 border-neutral-200 resize-none p-3 rounded-lg duration-300 outline-blue-500"
            placeholder="feedback here"></textarea>
            <div class="flex items-center gap-5">
              <span class="font-medium mb-1" [ngClass]="errorReviewRating ? 'text-red-500' : 'text-black'">Your Rate : </span>
              <span class="flex items-center gap-1 text-sm">
                <i (click)="reviewRating = (reviewRating == 1 ? 0 : 1)" [ngClass]="reviewRating > 0? 'text-yellow-500':'text-neutral-200'" class="fa-solid fa-star text-neutral-200 cursor-pointer"></i>
                <i (click)="reviewRating = (reviewRating == 2 ? 1 : 2)" [ngClass]="reviewRating > 1? 'text-yellow-500':'text-neutral-200'" class="fa-solid fa-star text-neutral-200 cursor-pointer"></i>
                <i (click)="reviewRating = (reviewRating == 3 ? 2 : 3)" [ngClass]="reviewRating > 2? 'text-yellow-500':'text-neutral-200'" class="fa-solid fa-star text-neutral-200 cursor-pointer"></i>
                <i (click)="reviewRating = (reviewRating == 4 ? 3 : 4)" [ngClass]="reviewRating > 3? 'text-yellow-500':'text-neutral-200'" class="fa-solid fa-star text-neutral-200 cursor-pointer"></i>
                <i (click)="reviewRating = (reviewRating == 5 ? 4 : 5)" [ngClass]="reviewRating > 4? 'text-yellow-500':'text-neutral-200'" class="fa-solid fa-star text-neutral-200 cursor-pointer"></i>
              </span>
            </div>
          <button
            class="px-6 py-1 rounded-lg text-xl text-white bg-blue-500 duration-300 hover:shadow-md hover:shadow-blue-500" (click)="SendReview()">Submit</button>
        </div> -->
      </section>
    </div>

  </section>

  <section class=" bg-white rounded-lg p-5">
    <h2 class="text-lg font-medium ">{{courseDetails.title}}</h2>
    <p class="text-sm text-neutral-500 mb-5">{{courseDetails.price}} $ <span class="inline-block px-1"></span>
      {{courseDetails.hours}} h</p>
    @if (modules.length > 0) {
    <ul class="flex flex-col gap-5">
      <li *ngFor="let module of modules" class="">
        <p class="flex justify-between items-center">
          <span class="font-medium text-xl">{{module.title}}</span>
        </p>
        @for (video of module.videos; track $index) {
        <div (click)="handleActiveVideo(video.url,video.title)"
          class="flex flex-col gap-0 ps-5 my-1 py-1 cursor-pointer bg-blue-500 bg-opacity-5 duration-300 hover:bg-opacity-20 rounded-lg">
          <span class="text-sm font-medium ">{{video.title}}</span>
          <span class="text-neutral-500 text-sm flex items-center gap-2 mt-[0.5px]"><i
              class="fa-solid fa-circle-play text-xs text-blue-500"></i>{{(video.duration.slice(0,8))}}</span>
        </div>
        }
        @for (quiz of module.quizzes; track $index) {
        <div [routerLink]='["/quizRoom", quiz.id]'
          class="flex flex-col gap-0 ps-5 my-1 py-1 cursor-pointer bg-purple-500 bg-opacity-5 duration-300 hover:bg-opacity-20 rounded-lg">
          <span class="text-sm font-medium">{{quiz.title}}</span>
          <span class="text-neutral-500 text-sm flex items-center gap-2 mt-[0.5px]">
            <i class="fa-solid fa-list-check text-xs text-purple-500"></i>
            Quiz
          </span>
        </div>
        }
      </li>
    </ul>
    }@else {
    <p class="font-medium text-3xl text-neutral-500 text-center"><br />There isn't any video<br /></p>
    }
  </section>
</section>}
