<div class="min-h-screen bg-gray-50 flex items-center justify-center px-4 py-12">
    <mat-stepper [linear]="true" #stepper class="mat-elevation-z2 w-full lg:w-1/2 flex justify-center items-center" [selectedIndex]="currentStep">
        <!-- Step 1 -->
        <mat-step [stepControl]="addCourseForm">
            <ng-template matStepLabel>Course information</ng-template>
            <h2 class="text-3xl font-bold text-blue-600 mb-6">Create Your Course</h2>
            <app-add-course-form [addCourseForm]="addCourseForm" (next)="handelSubmitCourseData()"></app-add-course-form>
            <!-- <app-module-form-add></app-module-form-add> -->
        </mat-step>

        <!-- Step 2 (example for next step) -->
        <mat-step [stepControl]="addCourseForm">
            <ng-template matStepLabel>Preview</ng-template>
            <app-preview-page [course]="coursePreview" (edit)="edit()" (publish)="publish()"></app-preview-page>
        </mat-step>
    </mat-stepper>
</div>